/* div {
    border: 2px solid black; 
} */
.wrapper_container {
    display: flex;

}

.post {
    margin: auto;
    width: 490px;
    font-family: "Roboto Flex", sans-serif;
}

.post-header {
    display: flex;
}

.fa-brands.fa-html5 {
    /* color: red;  */
    color: black;
    margin-top: 5px;
}

.fa-solid.fa-ellipsis-vertical {
    /*  color: blue; */
    margin-top: 5px;
    margin-left: 375px;
}

.header-text {
    /*     background-color: blueviolet;
    */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 4px;
}

.post-img {
    margin-bottom: 8px;
}

.post-img img {
    object-fit: cover;
    width: 100%;
}

.post-icons {
    display: flex;
}

i {
    /* background-color: tomato; */
    font-size: 25px;
    ;
    margin-left: 5px;
}

.fa-bookmark {
    /* background-color: yellow; */
    margin-left: 360px;
}

.post-description {
    color: black;
    text-align: inherit;
    padding-right: 8px;
}